[submodule "ThirdParty/zstd"]
	path = ThirdParty/zstd
	url = https://github.com/facebook/zstd
[submodule "ThirdParty/cppzmq"]
	path = ThirdParty/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "ThirdParty/libzmq"]
	path = ThirdParty/libzmq
	url = https://github.com/zeromq/libzmq.git
