<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="inteltbb.devel.win" version="2022.1.0.426" targetFramework="native" />
  <package id="inteltbb.redist.win" version="2022.1.0.426" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.230207.1" targetFramework="native" />
</packages>